<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load columns %}


{% block title %}
   View Chromosome Region
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
    <div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
        <h1 class="header" style="padding-bottom:0px;">Query Library by Region and Chromosome</h1>
    </div>
</div>

{% if ref_genome %}
    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form1" action="/snpdb/chrom-region/search" method="get">
            <div class="row">
                <div class="col">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Library to Search</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                {% for group in results|columns:020 %}
                                    <div class="col">
                                        {% for lib in group %}
                                            <div class="col-sm-2">
                                                <input type="radio" name="library" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>
{% elif chromosome %}
    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form2" action="/snpdb/chrom-region-filter" method="get">
            <div class="row">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                   <ul class="nav navbar-nav">
                       <div class="form-inline">
                           <div class="form-group">
                               <label class="sr-only" for="from">From bp</label>
                               <input type="text" class="form-control" name="from" placeholder="From bp">
                               <input type="hidden" name="library" value="{{library}}">
                           </div>
                           <div class="form-group">
                               <label class="sr-only" for="to">To bp</label>
                               <input type="text" class="form-control" name="to" placeholder="To bp">
                           </div>
                           <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
                       </div>
                   </ul>
               </div>
            </div>
            <div class="row" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <h3 class="panel-title" style="text-align: center">Chromosome</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for group in chromosome|columns:5 %}
                                <div class="col-sm-1">
                                    {% for chrom in group %}
                                        <div class="item">
                                            <input type="radio" name="chrom" value="{{chrom.0}}"> {{chrom.0}}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
           </div>
        </form>
    </div>


{% else %}
    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form3" action="/snpdb/chrom-region" method="get">
            <div class="row">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <h3 class="panel-title" style="text-align: center">Choose a Reference Organism</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {% for each in results|columns:5 %}
                                <div class="form-vertical">
                                    {% for organismcode in each %}
                                        <div class="col-md-2">
                                            <input type="radio" name="ref_genome" value="{{ organismcode.organismcode }}"> {{organismcode.organismcode}}
                                         </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>
{% endif %}

{% endblock %}
