<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load mathfilters %}
{% load static %}
{% load staticfiles %}

{% block title %}
    Library Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">Library Summary by Chromosome</h1>
    </div>
</div>

<body>
<div class="container-fluid">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <form class="form-inline navbar-left" role="form" id='search' action='/snpdb/chromosome-library-snps-summary/search' style="padding-bottom: 30px" method="get">
            <div class="form-group">
                <label class="sr-only" for="library_id">Library</label>
                <input type="text" class="form-control" name="lib" placeholder="library code">
            </div>
            <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
        </form>
    </ul>
</div>
</div>
</body>


<div class="container-fluid" style="padding-bottom:30px">
    <table class="table table-condensed table-hover table-responsive" style="table-layout: fixed; word-wrap: break-word;">
        <thead>
        <tr>
            <th class="text-center"><a href={{ filter_urls.chromosome__chromosome_name }}>Chromosome Name</a></th>
            <th class="text-center"><a href={{ filter_urls.library__librarycode }}>Library Code</a></th>
            <th class="text-center" style="word-wrap: break-word"><a href={{ filter_urls.num_snps }}>Reference Genome</a></th>
            <th class="text-center"><a href={{ filter_urls.num_snps }}>SNP Total</a></th>
            <th class="text-center"><a href={{ filter_urls.hetero }}>Heterozygosity Count</a></th>
            <th class="text-center"><a href={{ filter_urls.homo }}>Homozygous Count</a></th>
            <th class="text-center"><a href={{ filter_urls.indel }}>Indel Count</a></th>
            <th class="text-center"><a href={{ filter_urls.trans }}>Transition Count</a></th>
            <th class="text-center"><a href={{ filter_urls.transversion }}>Transversion Count</a></th>
            <th class="text-center"><a href={{ filter_urls.snp_density }}>Snp Density</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for each in results %}
                <td class="text-center">{{ each.chromosome__chromosome_name }}</a></td>
                <td class="text-center"><a href="/snpdb/library-snp-summary/search?lib={{each.library__library_code}}&count={{each.num_snps}}">{{ each.library__library_code }}</a></td>
                <td class="text-center" style="word-wrap: break-word">{{ each.result__genome__organism__organismcode }}</td>
                <td class="text-center">{{ each.num_snps }}</td>
                <td class="text-center">{{ each.hetero }}</td>
                <td class="text-center">{{ each.num_snps|sub:each.hetero }}</td>
                <td class="text-center">{{ each.indel }}</td>
                <td class="text-center">{{ each.trans }}</td>
                <td class="text-center">{{ each.num_snps|sub:each.trans }}</td>
            {% if library_size > 0 %}
                <td class="text-center">{{ each.num_snps|div:library_size.genome_size|floatformat:-5  }}</td>
            {% else %}
                <td class="text-center">Library is missing size</td>
            {% endif %}    </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
</html>