<!DOCTYPE html>
<html lang="en">


{% extends "snpdb/dashboard.html" %}
{% load columns %}
{% load static %}
{% load get_param %}

{% block title %}
    CNV Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

    {% if ref_genome %}
        <div class="container-fluid" style="padding-bottom:30px">
            <form id="form2" action="/snpdb/compare-cnv-libraries" method="get">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary" style="border-color: #616770;">
                            <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                                <h3 class="panel-title" style="text-align: center">Choose Library to display CNV values</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    {% for col in results|columns:4 %}
                                        <div class="col-md-3">
                                            {% for lib in col %}
                                                <div class="item">
                                                    <input type="checkbox" name="check1" value="{{ lib.library_code }}"> {{lib.library_code}}
                                                </div>
                                            {% endfor %}
                                         </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-left">
                        <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                    </div>
                </div>
            </form>
        </div>

    {% elif library_codes %}
        <div class="container-fluid">
            <div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
                <h1 class="header" style="padding-bottom:0px;">CNV Summary</h1>
            </div>
        </div>


        <div class="container-fluid" style="padding-bottom:30px">
            <form class="form-inline" role="form" id='compare_libs' action="/snpdb/compare-gene-lib-filter/search" method="get">
                <table class="table table-condensed table-hover table-responsive table-bordered" name="result_table" style="table-layout: fixed; word-wrap: break-word;">
                    <thead>
                    <tr>
                        <th class="text-center" id="gene"><a href={{ filter_urls.gene }}>Start</a></th>
                        <th class="text-center" id="fmin"><a href={{ filter_urls.fmin.fmin }}>Stop</a></th>
                        <th class="text-center" id="fmax"><a href={{ filter_urls.fmax.fmax }}>Chromosome (somy coverage)</a></th>
                        {% for each in library_codes %}
                            <th class="text-center" id={{each}}>
                                <div><a href={{ filter_urls.library__library_code }}>{{each}}</a></div>
                                <div><a href={{ filter_urls.cnv_value }}>CNV (Read depth)</a></div>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for each in cnvs %}
                            <td class="text-center" headers="gene">{{ each.1.start }}</td>
                            <td class="text-center" headers="fmin">{{ each.1.stop }}</td>
                            <td class="text-center" headers="fmax">{{ each.1.chromosome }} (somy value)</td>
                            {% for x in library_codes %}
                                <td class="text-center" headers="{{x}}">{{each.1|keyvalue:x|keyvalue:'cnv'}} ({{each.1|keyvalue:x|keyvalue:'coverage'}})</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>


        {% if toolbar_max > 1 %}
            <div class="container-fluid" style="padding-bottom: 30px">
                <div class="ngsdb pagination" style="padding-left: 10px">
                    <ul class="ngsdb">
                        {% if cnvs.has_previous %}
                            <li><a href="?{% add_get_param request 'page' cnvs.previous_page_number %}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&laquo;</a></li>
                        {% endif %}

                        {% for page in cnvs.paginator.page_range %}
                            {% if page <= toolbar_max and page > toolbar_min and page != cnvs.number %}
                                <li><a href="?{% add_get_param request 'page' page %}">{{page}}</a></li>
                            {% elif page == cnvs.number %}
                                <li class="active"><a href="?{% add_get_param request 'page' cnvs.number %}">{{cnvs.number}}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if cnvs.has_next %}
                            <li><a href="?{% add_get_param request 'page' cnvs.next_page_number %}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}


    {% else %}
        <div class="container-fluid" style="padding-bottom:30px">
            <form id="form3" action="/snpdb/compare-cnv-libraries" method="get">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Choose a Reference Organism</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row-md-2">
                                {% for col in results|columns:6 %}
                                    <div class="col-md-2">
                                        {% for organismcode in col %}
                                            <div class="item"><input type="radio" name="ref_genome" value="{{ organismcode.organismcode }}"> {{organismcode.organismcode}} </div>
                                        {% endfor %}
                                    </div><!-- /col-md-4 -->
                                {% endfor %}
                            </div><!-- /row-md-2 -->
                        </div>
                    </div>
                <div class="form-group">
                    <div class="pull-left">
                        <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock bootstrap %}
</html>