{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}
{% block bootstrap %}
<script>
    $('.collapse').collapse()
</script>
{% endblock %}
{%block content%}
{% block body %}
{% load ngsdbview_extras %}
{% load humanize %}

<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>



{%  if charts  %}
        {% for chromosome, values in charts.items %}
        <div type="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #F6E3CE; border-color:#F6E3CE;">
                    <h3 class="panel-title" style="text-align: left">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{chromosome}}">
                            {{ forloop.counter }}. Chromosome: {{ chromosome }}
                        </a>
                    </h3>
                </div>
                <div id="collapse_{{chromosome}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="container-fluid">
                            {{ values.0 | safe }}
                            {{ values.1 | safe }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

{% else %}

        <script>
function atleast_onecheckbox(e) {
  if ($("input[name=libcodes]:checked").length === 0) {
      e.preventDefault();
      alert('Please choose the libraries you would like to compare against');
      return false;
  }
}
</script>

<FORM action="/snpdb/comparelibs/cnv/{{ exp.id }}/" method="post"  onsubmit="return atleast_onecheckbox(event)">
{% csrf_token %}
    <TABLE>
        <TR><TH>Sl. No.</TH><TH>Select</TH><TH>Library Code</TH><TH>Library Name</TH><TH>Color For the Bar</TH></TR>
        {% for lib in libs %}
            <TR><TD>{{ forloop.counter }}</TD><TD><input type="checkbox" name="libcodes" value="{{ lib.library_code }}"></TD><TD>{{ lib.library_code }}</TD><TD>{{ lib.sampleid.samplename }}</TD>
            {# display dropdown for color #}
            <TD>
                <select name="{{ lib.library_code }}">
                {% for color in colors %}
                    <option value={{ color }}>{{ color }}</option>
                {% endfor %}
                </select>
            </TD>
            <TD>
                <select name="linetype_{{ lib.library_code}}">
                    {% for style in linestyles %}
                        <option value={{ style }} >{{ style }}</option>
                    {% endfor %}
                </select>
            </TD>
            </TR>
        {% endfor %}
        <TR><TD></TD></TR>
    </TABLE>
<input type="submit"  name="libraryselection" value="Display CNV" />
</FORM>
{% endif %}
{% endblock %}
{% endblock %}