{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}

{% block title %}
    CNV Results
{% endblock %}

{% block bootstrap %}
{% endblock %}

{%block content%}
{% block body %}
{% load ngsdbview_extras %}
{% load humanize %}



{% if charts %}

<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.8.2.min.css" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.8.2.min.js"></script>


<script>
    $( document ).ready(function() {
        $('.panel').on('show.bs.collapse', function (e) {
            event.preventDefault();
            console.log("In function");
            var chromosome = $(this).find(".collapse").attr("id");
            create_graph(chromosome);
        });
    });
</script>

<script>
    function create_graph(chromosome) {
        console.log("In create graph");
        var csrftoken = getCookie('csrftoken');
        var colors = JSON.parse('{{colors | safe}}');
        var linestyles = JSON.parse('{{linestyles | safe}}');
        var libcodes = JSON.parse('{{libcodes | safe}}');
        var panel = '#panel_' + chromosome;

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: "/snpdb/create-graphs-cnv",
            type: "POST",
            xhrFields: {
                withCredentials: true
            },
            data: JSON.stringify({chromosome: chromosome, libcodes: libcodes, colors: colors, linestyles: linestyles, cnvcutoff: '{{cnvcutoff}}', exp_id: '{{exp_id}}'}),
            error: function() {
                $(panel).html('<p>An error has occurred </p>')
            },
            success: function(result) {
                var data = JSON.parse(result);

                if (jQuery.isEmptyObject(data)) {
                    $(panel).html('<h2>There are no differences on this chromosome. </h2>')
                } else {
                    var header = "";
                    $.map(data, function (value, key) {
                        header = header + '<div class="container-fluid" style="padding-bottom: 10px" ui-if="article.isOpen">';
                        $.each(value, function (index, val) {
                            header = header + val;
                        });
                        header = header + '</div>';
                    });
                    $(panel).html(header);
                }
            }
        })
    }
</script>


<script>
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>


<script>
    function getCookie(name) {
    var cookieValue = null;

    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
</script>

{% for chromosome in chromosomes %}
<div type="container-fluid">
    <div class="panel panel-primary" style="border-color: #616770;" id="panel">
        <div class="panel-heading" data-toggle="collapse" data-praent="#accordion" href="#{{chromosome}}" id="heading_{{chromosome}}" style="background-color: #616770; border-color:#616770; overflow: hidden">
            <h3 class="panel-title" style="text-align: left">
                <a> {{ forloop.counter }}. Chromosome: {{ chromosome }} </a>
            </h3>
        </div>
        <div class="panel-collapse collapse" id="{{chromosome}}" aria-labelledby="heading_{{chromosome}}">
            <div class="panel-body" id="panel_{{chromosome}}">

            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% else %}


<script>
function atleast_onecheckbox(e) {
  if ($("input[name=libcodes]:checked").length === 0) {
      e.preventDefault();
      alert('Please choose the libraries you would like to compare against');
      return false;
  }
}
</script>

<FORM action="/snpdb/comparelibs/cnv/{{ exp.id }}/" method="post"  onsubmit="return atleast_onecheckbox(event)">
{% csrf_token %}
    <TABLE>
        <TR><TH>Sl. No.</TH><TH>Select</TH><TH>Library Code</TH><TH>Library Name</TH><TH>Color For the Bar</TH></TR>
        {% for lib in libs %}
            <TR><TD>{{ forloop.counter }}</TD><TD><input type="checkbox" name="libcodes" value="{{ lib.library_code }}"></TD><TD>{{ lib.library_code }}</TD><TD>{{ lib.sampleid.samplename }}</TD>
            {# display dropdown for color #}
            <TD>
                <select name="{{ lib.library_code }}">
                {% for color in colors %}
                    <option value={{ color }}>{{ color }}</option>
                {% endfor %}
                </select>
            </TD>
            <TD>
                <select name="linetype_{{ lib.library_code}}">
                    {% for style in linestyles %}
                        <option value={{ style }} >{{ style }}</option>
                    {% endfor %}
                </select>
            </TD>
            </TR>
        {% endfor %}
        <TR><TD></TD></TR>
    </TABLE>
<input type="submit"  name="libraryselection" value="Display CNV" />
</FORM>
{% endif %}
{% endblock %}
{% endblock %}