<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load columns %}


{% block title %}
   Compare Across Libraries
{% endblock %}


{% block bootstrap %}

<div class="container-fluid">
        <div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
       <h1 class="header" style="padding-bottom:0px;">Difference Between Libraries</h1>
       <h2 class="header" style="padding-top:5px">Find novel snps in Group 1 or Group 2</h2>
        </div>
</div>


<body>


{% if ref_genome %}

<script>
function atleast_onecheckbox(e) {
  if ($("input[name=check1]:checked").length === 0 | $("input[name=check2]:checked").length === 0 ) {
      e.preventDefault();
      alert('Please choose the libraries you would like to compare against');
      return false;
  }
}
</script>

    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form2" action="/snpdb/compare-libs/search" method="get"  onsubmit="return atleast_onecheckbox(event)">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Group 1</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                {% for group in results|columns:4%}
                                    <div class="col-md-3">
                                        {% for lib in group %}
                                            <div class="item">
                                                <input type="checkbox" name="check1" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Group 2</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                {% for col in results|columns:4 %}
                                    <div class="col-md-3">
                                        {% for lib in col %}
                                            <div class="item">
                                                <input type="checkbox" name="check2" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Choose Library to display as Wildtype (Optional)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                {% for col in results|columns:4 %}
                                    <div class="col-md-3">
                                        {% for lib in col %}
                                            <div class="item">
                                                <input type="radio" name="wt" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>


{% else %}
<script>
function atleast_onecheckbox(e) {
  if ($("input[name=ref_genome]:checked").length === 0) {
      e.preventDefault();
      alert('Please choose the organism you would like to compare');
      return false;
  }
}
</script>

    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form3" action="/snpdb/compare-libs" method="get"  onsubmit="return atleast_onecheckbox(event)">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <h3 class="panel-title" style="text-align: center">Choose a Reference Organism</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row-md-2">
                            {% for col in results|columns:6 %}
                                <div class="col-md-2">
                                    {% for organismcode in col %}
                                        <div class="item"><input type="radio" name="ref_genome" value="{{ organismcode.organismcode }}"> {{organismcode.organismcode}} </div>
                                    {% endfor %}
                                </div><!-- /col-md-4 -->
                            {% endfor %}
                        </div><!-- /row-md-2 -->
                    </div>
                </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>

{% endif %}




</body>
{%endblock%}

</html>
