<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load display_rows %}


{% block title %}
    SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">Difference Between Libraries</h1>
    	<h2 class="header" style="padding-top:5px">Find snps present in Library 1 not present in Library 2</h2>
	</div>
</div>


<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-inline" role="form" id='search' action='/snpdb/compare-two-libs/search' method="get">
                <div class="form-group">
                    <label class="sr-only" for="library">Library 1</label>
                    <input type="text" class="form-control" name="lib1" placeholder="library 1">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="library">Library 2</label>
                    <input type="text" class="form-control" name="lib2" placeholder="library 2">
                </div>
                <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
            </form>
        </ul>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="form">
        {% for group in results|group_by:6 %}
            <div class="form-group">
                {% for obj in group %}
                    <label class="col-sm-2">{{ obj.librarycode }}      </label>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

</body>
{%endblock%}

</html>