{% extends "admin/base_site.html" %}
{% load render_table from django_tables2 %}
{% block bootstrap %}
<script>
    $('.collapse').collapse()
</script>
{% endblock %}
{%block content%}
{% block body %}
{% load ngsdbview_extras %}
{% load humanize %}

<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>

{% if charts %}
    {% for chromosome in charts %}
        <div type="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #F6E3CE; border-color:#F6E3CE;">
                    <h3 class="panel-title" style="text-align: left">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{chromosome}}">
                            {{ forloop.counter }}. Chromosome: {{ chromosome }}
                        </a>
                    </h3>
                </div>
                <div id="collapse_{{chromosome}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% for section in charts|hash:chromosome %}
                            {% for x in charts|hash:chromosome|hash:section %}
                                <div class="container-fluid" style="padding-bottom: 10px">
                                    {{ x | safe }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
{% else %}


<FORM action="/snpdb/comparelibs/cnvfilter/{{ exp.id }}/" method="post">
{% csrf_token %}
<TABLE> <TR><TD> <!-- start of group table -->
    <div class="panel-heading" style="background-color: #F6E3CE; border-color:#F6E3CE; overflow: hidden">
        <a class="collapse" data-toggle="collapse" data-parent="#accordion" href="#CNVsection_{{ chromosome }}" aria-expanded="true"> <h3 class="panel-title" style="text-align: left"> Group 1</h3> </a>
    </div>
    <TABLE>
        <TR><TH>Sl. No.</TH><TH>Include</TH><TH>Library Code</TH><TH>Library Name</TH><!--<TH>Collor For the Bar</TH>--></TR>
        {% for lib in libs %}
            <TR>
                <TD>{{ forloop.counter }}</TD><TD><input type="checkbox" name="group1_libcodes" value="{{ lib.library_code }}"></TD><TD>{{ lib.library_code }}</TD><TD>{{ lib.sampleid.samplename }}</TD>
            </TR>
        {% endfor %}
        </TABLE>
        <TABLE>
        <TR><TD></TD></TR>
        <TR>
        {# display dropdown for color #}
        <TD>Color :</TD>
        <TD>
            <select name="group1_color">
            {% for color in colors %}
                <option value={{ color }}>{{ color }}</option>
            {% endfor %}
            </select>
        </TD>
        </TR><TR>
        <TD>Line Style :</TD>
        <TD>
            <select name="group1_style">
            {% for style in linestyles %}
                <option value={{ style }} >{{ style }}</option>
            {% endfor %}
            </select>
        </TD>
        </TR>
        </TR>
    </TABLE>

    </TD><TD>
     <div class="panel-heading" style="background-color: #F6E3CE; border-color:#F6E3CE; overflow: hidden">
                     <a class="collapse" data-toggle="collapse" data-parent="#accordion" href="#CNVsection_{{ chromosome }}" aria-expanded="true"> <h3 class="panel-title" style="text-align: left"> Group 2</h3> </a>
    </div>
    <TABLE>
        <TR><TH>Sl. No.</TH><TH>Include</TH><TH>Library Code</TH><TH>Library Name</TH><!--<TH>Collor For the Bar</TH>--></TR>
        {% for lib in libs %}
            <TR>
                <TD>{{ forloop.counter }}</TD><TD><input type="checkbox" name="group2_libcodes" value="{{ lib.library_code }}"></TD><TD>{{ lib.library_code }}</TD><TD>{{ lib.sampleid.samplename }}</TD>
            </TR>
        {% endfor %}
        </TABLE>
        <TABLE>
        <TR><TD></TD></TR>
        <TR>
        {# display dropdown for color #}
        <TD>Color :</TD>
        <TD>
            <select name="group2_color">
            {% for color in colors %}
                <option value={{ color }}>{{ color }}</option>
            {% endfor %}
            </select>
        </TD>
        </TR><TR>
        <TD>Line Style :</TD>
        <TD>
            <select name="group2_style">
            {% for style in linestyles %}
                <option value={{ style }} >{{ style }}</option>
            {% endfor %}
            </select>
        </TD>
        </TR>
        </TR>
    </TABLE>
</TD></TR></TABLE> <!-- end of group table -->
    <TABLE>
    <TR>
        <TD>Data Summarizing Mode :</TD>
        <TD>
            <select name="summary_mode">
            {% for mode in modes %}
                <option value={{ mode }} >{{ mode }}</option>
            {% endfor %}
            </select>
        </TD>
        </TR>
    </TABLE>
    <TABLE><TR><TD>
        Minimum CNV value difference between groups: <input type="number" max="10" min="0" step="any" name="cnvcutoff" value="{{ cnvcutoff }}">
        </TD><TR><TD>Set it to Zero to browse entire chromosome manually</TD></TR>
    </TD></TR></TABLE>

    <TABLE><TR><TD>
        Number of datapoints to plot in a horizontal picture: <input type="text" name="windowsize" value="{{windowsize}}">
        </TD></TR><TR><TD>
        More the points (value) messier picture will be. 100 is optimal.
        Very few points, many pictures.
    </TD></TR></TABLE>
<input type="submit"  name="libraryselection" value="Display CNV" />
</FORM>
{% endif %}
{% endblock %}
{% endblock %}