<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load display_rows %}


{% block title %}
   SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
        <div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
       <h1 class="header" style="padding-bottom:0px;">Difference Between Libraries</h1>
       <h2 class="header" style="padding-top:5px">Find novel snps in Group 1 or Group 2</h2>
        </div>
</div>


<body>


{% if ref_genome %}
    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form2" action="/snpdb/test" method="get">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Wildtype Library to Compare Against (Optional)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {% for group in results|group_by:020 %}
                                    <div class="form-vertical">
                                        {% for lib in group %}
                                            <div class="col-sm-2">
                                                <input type="radio" name="wt" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Group 1</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {% for group in results|group_by:020 %}
                                    <div class="form-vertical">
                                        {% for lib in group %}
                                            <div class="col-sm-2">
                                                <input type="checkbox" name="check1" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Group 2</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {% for group in results|group_by:050 %}
                                    <div class="form-vertical">
                                        {% for lib in group %}
                                            <div class="col-sm-2">
                                                <input type="checkbox" name="check2" value="{{ lib.library_code }}"> {{lib.library_code}}
                                            </div>
                                        {% endfor %}
                                     </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>


{% else %}
    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form1" action="/snpdb/compare-libs" method="get">
            <div class="row">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <h3 class="panel-title" style="text-align: center">Choose a Reference Organism</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {% for each in results|group_by:5 %}
                                <div class="form-vertical">
                                    {% for organismcode in each %}
                                        <div class="col-md-2">
                                            <input type="radio" name="ref_genome" value="{{ organismcode.organismcode }}"> {{organismcode.organismcode}}
                                         </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>

{% endif %}




</body>
{%endblock%}

</html>
