{% extends "admin/base.html" %}
{% load i18n grp_tags %}
{% load snp_filters %}
{% load display_rows %}
{% load staticfiles %}

<link href="https://posonline.googlecode.com/files/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/grappelli/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />

<link href="/static/stylesheets/menu.css" rel="stylesheet" type="text/css" media="screen">
<link href="/static/stylesheets/custom.css" rel="stylesheet" type="text/css" media="screen">


{% block title %}    {{ title }} | {% trans 'Django site admin' %}
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

<!-- LOGO AND BRANDING -->
{% block logo-brand %}
<div id="grp-branding">
    <div id="logo">
        <img src="/static/img/logov2.png">
    </div>
    <div id="brand">
        <!-- pulls title from settings.py #} -->
        <h1 id="grp-admin-title" style="padding-bottom: 0">
            {% if grappelli_admin_title %}
                {{ grappelli_admin_title }}
            {% else %}
                {% get_admin_title %}
            {% endif %}
        </h1>
    </div>
</div>

<!-- Username & links area-->


{% if user.is_active and user.is_staff%}
    <ul id="grp-user-tools">
    <div id="user-tools">
        {% trans 'Welcome,' %}
        <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {%if user.username != 'guest' %}
            {% if password_change_url %}
                <a href="{{ password_change_url }}">
            {% else %}
                <a href="{{ root_path }}password_change/">
            {% endif %}
                {% trans 'Change password' %}</a> /
                	{% url 'admin:logout' as logout_url %}
                	{% if logout_url %}
                    		<a href="{{ logout_url }}">
                	{% else %}
                    		<a href="{{ root_path }}logout/">
                	{% endif %}
                	{% trans 'Log out' %}</a>
               {%else%}
              		<a href="/admin/">{% trans 'Log In' %}</a>
               {%endif%}

        <!-- contact/about us -->
        <div id="general-links">
            <a href="/">{% trans 'Home' %}<B>|</B>
            <a href="/ngsdbview/aboutus">About Us</a><B>|</B>
            <a href="/ngsdbview/contact">Contact Us</a><B>|</B
            <a href="https://jira.sbri.org/browse/NGS-279">Log Issues</a>
        </div>
        <!-- Admin links -->
        </br>
        <div id="admin-links">    <P>
            <B> Add A New</B>
            <a href="/admin/samples/sample/add/">Sample</a><B>|</B>
            <a href="/admin/samples/library/add/">Library</a><B>|</B>
            <a href="/admin/auth/user/add/">User </a><B>|</B>
            <a href="/admin/">Admin</a>
        </div>
        <div id="admin-links">    <P>
            <B> List All</B>
            <a href="/admin/samples/sample/">Samples</a><B>|</B>
            <a href="/admin/samples/library/">Libraries</a><B>|</B>
            <a href="/admin/auth/user/">Users </a><B>
        </div>


        <div id="admin-docs">
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        {% endif %}
        </div>
    </div>
    </ul>
{% endif %}

</div>
{% endblock logo-brand %}

<!-- content title -->
{% block content_title %}
    {% if title %}
        <header><h1>{{ title }}</h1></header>
    {% endif %}
{% endblock %}


<!-- Links for navigation -->
{% block nav-global %}


<div class='navbar navbar-custom' role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <ul class="nav navbar-nav">
               <li id="home"><a href="/snpdb">Home</a></li>
               <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" id="search_dropdown" href="#">Tables <b class="caret"></b></a>
                   <ul id="dropdown_table" class="dropdown-menu" role="menu">
                       <li role="presentation" id="snp"><a role="menuitem" href="/snpdb/snp">SNP</a></li>
                       <li role="presentation" id="snptype"><a role="menuitem" href="/snpdb/snptype">SNP Type</a></li>
                       <li role="presentation" id="statistics"><a role="menuitem" href="/snpdb/statistics">Statistics</a></li>
                       <li role="presentation" id="effect"><a role="menuitem" href="/snpdb/effect">Effect</a></li>
                       <li role="presentation" id="filter"><a role="menuitem" href="/snpdb/filter">Filter</a></li>
                   </ul>
               </li>
               <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" id="search_dropdown2" href="#">Summary Views <b class="caret"></b></a>
                   <ul id="dropdown_summary" class="dropdown-menu" role="menu">
                       <li role="presentation"><a role="menuitem" href="/snpdb/library-snp-summary">Library Level Summary</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/chromosome-library-snp-summary">Chromosome Level Summary</a></li>
                   </ul>
               </li>
               <li class="dropdown">
                   <a class="dropdown-toggle" data-toggle="dropdown" id="search_dropdown3" href="#">Search <b class="caret"></b></a>
                   <ul id="dropdown_search" class="dropdown-menu" role="menu">
                       <li role="presentation"><a role="menuitem" href="/snpdb/gene-snps"> Query Gene for Snps</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/multi-gene-snps"> Query Mulit-Genes for Snps</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/multi-gene-library-snps"> Query Mulit-Genes and Multi Library for Snps</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/library-chromosome-snps">Query Chromosome and Library for Snps</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/library-gene-snps">Query Gene and Library for Snps</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/compare-gene-lib">Multi-Library Comparison on Gene</a></li>
                       <li role="presentation"><a role="menuitem" href="/snpdb/compare-libs">Compare Two Libraries</a></li>
                   </ul>
               </li>
           </ul>
       </div>
   </div>
</div>

{% endblock %}
