{% extends "admin/base_site.html" %}
{% load i18n grp_tags %}
{% load snp_filters %}
{% load display_rows %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="/media/css/style.css" >
<link rel="stylesheet" type="text/css" href="/media/css/tabstyle.css" >

<link href="https://posonline.googlecode.com/files/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/grappelli/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />

<link href="/static/stylesheets/menu.css" rel="stylesheet" type="text/css" media="screen">
<link href="/static/stylesheets/custom.css" rel="stylesheet" type="text/css" media="screen">

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

{% block title %}    {{ title }} | {% trans 'Django site admin' %}
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

<!-- LOGO AND BRANDING -->
{% block logo-brand %}
<div id="grp-branding">
    <div id="logo">
        <img src="/static/img/logov2.png">
    </div>
    <div id="brand">
        <!-- pulls title from settings.py #} -->
        <h1 id="grp-admin-title" style="padding-bottom: 0">
            {% if grappelli_admin_title %}
                {{ grappelli_admin_title }}
            {% else %}
                {% get_admin_title %}
            {% endif %}
        </h1>
    </div>
</div>

<!-- Username & links area-->
{% if user.is_active and user.is_staff%}
    <ul id="grp-user-tools">
    <div id="user-tools">
        {% trans 'Welcome,' %}
        <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {%if user.username != 'guest' %}
            {% if password_change_url %}
                <a href="{{ password_change_url }}">
            {% else %}
                <a href="{{ root_path }}password_change/">
            {% endif %}
                {% trans 'Change password' %}</a> /
                	{% url 'admin:logout' as logout_url %}
                	{% if logout_url %}
                    		<a href="{{ logout_url }}">
                	{% else %}
                    		<a href="{{ root_path }}logout/">
                	{% endif %}
                	{% trans 'Log out' %}</a>
               {%else%}
              		<a href="/admin/">{% trans 'Log In' %}</a>
               {%endif%}

        <!-- contact/about us -->
        <div id="general-links">
            <a href="/">{% trans 'Home' %}</a><B>|</B>
            <a href="/ngsdbview/aboutus">About Us</a><B>|</B>
            <a href="/ngsdbview/contact">Contact Us</a><B>|</B>
            <a href="https://jira.sbri.org/browse/NGS-279">Log Issues</a>
        </div>
        <!-- Admin links -->
        </br>
        <div id="admin-links">    <P>
            <B> Add A New</B>
            <a href="/admin/samples/sample/add/">Sample</a><B>|</B>
            <a href="/admin/samples/library/add/">Library</a><B>|</B>
            <a href="/admin/auth/user/add/">User </a><B>|</B>
            <a href="/admin/">Admin</a>
        </div>
        <div id="admin-links">    <P>
            <B> List All</B>
            <a href="/admin/samples/sample/">Samples</a><B>|</B>
            <a href="/admin/samples/library/">Libraries</a><B>|</B>
            <a href="/admin/auth/user/">Users </a><B></B>
        </div>


        <div id="admin-docs">
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        {% endif %}
        </div>
    </div>
    </ul>
{% endif %}

</div>
{% endblock logo-brand %}


<!-- content title -->
{% block content_title %}
    {% if title %}
        <header><h1>{{ title }}</h1></header>
    {% endif %}
{% endblock %}

{% block bootstrap %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                        <h3 class="panel-title">SNPs by Library</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.library__librarycode }}>Library Code</a></th>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.result_id }}>SNP Count</a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for each in lib_count %}
                                    <td class="text-center">{{ each.library__librarycode}}</td>
                                    <td class="text-center">{{ each.snp_id__count}}</td>
                            </tr>
                                {% endfor %}
                            <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                            <td class="text-center" style="vertical-align: middle">{{ totals.0 }}</td>
                            </tbody>
                        </table>
                        <img src="{% static images.0 %}" class="image-responsive center-block"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                        <h3 class="panel-title">SNPs by Organism</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.library__organism__organismcode }}>Organism</a></th>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.result_id }}>SNP Count</a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for each in org_count %}
                                    <td class="text-center">{{ each.library__organism__organismcode}}</td>
                                    <td class="text-center">{{ each.snp_id__count}}</td>
                            </tr>
                                {% endfor %}
                            <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                            <td class="text-center" style="vertical-align: middle">{{ totals.1 }}</td>
                            </tbody>
                        </table>
                        <img src="{% static images.1 %}" class="image-responsive center-block"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                        <h3 class="panel-title">SNPs by Impact</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.effect_string }}>Impact</a></th>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.snp__count }}>SNP Count</a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for key, value in impact_count.items %}
                                    {% if value|get_value_type:'int' %}
                                        <td class="text-center">{{ key|title }}</td>
                                        <td class="text-center">{{ value }}</td>
                                    {% endif %}
                            </tr>
                                {% endfor %}
                            <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                            <td class="text-center" style="vertical-align: middle">{{ impact_count.items|sum_dict }}</td>
                            </tbody>
                        </table>
                        <img src="{% static images.2 %}" class="image-responsive center-block"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                        <h3 class="panel-title">SNPs by High Impact</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.effect_string }}>Impact Effect</a></th>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.snp__count }}>SNP Count</a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for key, value in high_count.items %}
                                    {% if value|get_value_type:'int' %}
                                        <td class="text-center">{{ key|title }}</td>
                                        <td class="text-center">{{ value }}</td>
                                    {% endif %}
                            </tr>
                                {% endfor %}
                            <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                            <td class="text-center" style="vertical-align: middle">{{ high_count.items|sum_dict }}</td>
                            </tbody>
                        </table>
                        <img src="{% static images.3 %}" class="image-responsive center-block"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                        <h3 class="panel-title">SNPs by Moderate Impact</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.library__organism__organismcode }}>Organism</a></th>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.result_id }}>SNP Count</a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for key, value in moderate_count.items %}
                                    {% if value|get_value_type:'int' %}
                                        <td class="text-center">{{ key|title }}</td>
                                        <td class="text-center">{{ value }}</td>
                                    {% endif %}
                            </tr>
                                {% endfor %}
                            <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                            <td class="text-center" style="vertical-align: middle">{{ moderate_count.items|sum_dict }}</td>
                            </tbody>
                        </table>
                        <img src="{% static images.5 %}" class="image-responsive center-block"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 30px">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                        <h3 class="panel-title">SNPs by Low Impact</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.effect_string }}>Impact Effect</a></th>
                                <th class="col-md-1 text-center"><a href={{ filter_urls.snp__count }}>SNP Count</a></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for key, value in low_count.items %}
                                    {% if value|get_value_type:'int' %}
                                        <td class="text-center">{{ key|title }}</td>
                                        <td class="text-center">{{ value }}</td>
                                    {% endif %}
                            </tr>
                                {% endfor %}
                            <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                            <td class="text-center" style="vertical-align: middle">{{ low_count.items|sum_dict }}</td>
                            </tbody>
                        </table>
                        <img src="{% static images.4 %}" class="image-responsive center-block"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top: 30px">
            <div class="panel panel-primary" style="border-color: #616770;">
                <div class="panel-heading" style="background-color: #616770; border-color:#616770">
                    <h3 class="panel-title">SNPs by Modifier Impact</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
                        <thead>
                        <tr>
                            <th class="col-md-1 text-center"><a href={{ filter_urls.effect_string }}>Impact Effect</a></th>
                            <th class="col-md-1 text-center"><a href={{ filter_urls.snp__count }}>SNP Count</a></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for key, value in modifier_count.items %}
                                {% if value|get_value_type:'int' %}
                                    <td class="text-center">{{ key|title }}</td>
                                    <td class="text-center">{{ value }}</td>
                                {% endif %}
                        </tr>
                            {% endfor %}
                        <td class="text-center" style="font-size:14px"><strong>Total</strong></td>
                        <td class="text-center" style="vertical-align: middle">{{ modifier_count.items|sum_dict }}</td>
                        </tbody>
                    </table>
                    <img src="{% static images.6 %}" class="image-responsive center-block"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
