<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}


{% block title %}
    SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">Difference Between Libraries</h1>
    	<h2 class="header" style="padding-top:5px">There are {{ count }} snps found in {{library1}} not found in {{library2}}.</h2>
	</div>
</div>

<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-inline" role="form" id='search' action='/snpdb/difference_two_libraries/search' method="get">
                <div class="form-group">
                    <label class="sr-only" for="library">Library 1</label>
                    <input type="text" class="form-control" name="lib1" placeholder="library 1">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="library">Library 2</label>
                    <input type="text" class="form-control" name="lib2" placeholder="library 2">
                </div>
                <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
            </form>
        </ul>
    </div>
</div>
</body>

<div class="container-fluid" style="padding-bottom:30px">
    <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
        <thead>
        <tr>
            <th class="text-center"><a href={{ filter_urls.snp_id }}>SNP ID</a></th>
            <th class="text-center"><a href={{ filter_urls.library }}>Library</a></th>
        	<th class="text-center"><a href={{ filter_urls.snp_position }}>Position</a></th>
        	<th class="text-center"><a href={{ filter_urls.result }}>Result</a></th>
        	<th class="text-center"><a href={{ filter_urls.ref_base }}>Reference Base</a></th>
        	<th class="text-center"><a href={{ filter_urls.alt_base }}>Alternate Base</a></th>
        	<th class="text-center"><a href={{ filter_urls.heterozygosity }}>Heterozygosity</a></th>
        	<th class="text-center"><a href={{ filter_urls.quality }}>Quality</a></th>
        	<th class="text-center"><a href={{ filter_urls.chromosome__chromosome_name }}>Chromosome</a></th>
        </thead>
        <tbody>
        {% for each in results %}
            <td class="text-center">{{ each.snp_id }}</td>
            <td class="text-center">{{ each.snp_position }}</td>
            <td class="text-center">{{ each.result }}</td>
            <td class="text-center">{{ each.ref_base }}</td>
            <td class="text-center">{{ each.alt_base }}</td>
            <td class="text-center">{{ each.heterozygosity }}</td>
            <td class="text-center">{{ each.quality }}</td>
            <td class="text-center">{{ each.library }}</td>
            <td class="text-center">{{ each.chromosome__chromosome_name }}</td>
    	</tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if toolbar_max > 1 %}
<div class="container-fluid" style="padding-bottom: 30px">
    <div class="ngsdb pagination" style="padding-left: 10px">
        <ul class="ngsdb">
            {% if results.has_previous %}
                {% if selection %}
                    <li><a href="?page={{ results.previous_page_number }}&s={{filter_on}}&att={{selection}}">&laquo;</a></li>
                {% else %}
                    <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for page in paginator.page_range %}
                {% if page <= toolbar_max and page > toolbar_min and page != results.number %}
                    {% if selection %}
                        <li><a href="?page={{ page }}&s={{filter_on}}&att={{selection}}">{{page}}</a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{page}}</a></li>
                    {% endif %}
                {% elif page == results.number %}
                    {% if selection %}
                        <li class="active"><a href="?page={{ results.number }}&s={{filter_on}}&att={{selection}}">{{results.number}}</a></li>
                    {% else %}
                        <li class="active"><a href="?page={{ results.number }}">{{results.number}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if results.has_next %}
               {% if selection %}
                    <li><a href="?page={{ results.next_page_number }}&s={{filter_on}}&att={{selection}}">&raquo;</a></li>
                {% else %}
                    <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
{%endif%}
{% endblock %}
</html>