<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
    SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">Difference Between Libraries</h1>
    	<h2 class="header" style="padding-top:5px">There are {{ count }} snps found in {{library1}} not found in {{library2}}.</h2>
	</div>
</div>

<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-inline" role="form" id='search' action='/snpdb/snps-in-libx-no-liby/search' method="get">
                <div class="form-group">
                    <label class="sr-only" for="library">Library 1</label>
                    <input type="text" class="form-control" name="lib1" placeholder="library 1">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="library">Library 2</label>
                    <input type="text" class="form-control" name="lib2" placeholder="library 2">
                </div>
                <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
            </form>
        </ul>
    </div>
</div>

</body>

<div class="container-fluid" style="padding-bottom:30px">
    <table class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
        <thead>
        <tr>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.snp_id }}>SNP ID</a></th>
            <th class="col-xs-2 text-center"><a href={{ filter_urls.library__librarycode }}>Library</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.snp_position }}>Position</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.result_id }}>Result</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.ref_base }}>Reference Base</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.alt_base }}>Alternate Base</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.heterozygosity }}>Heterozygosity</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.quality }}>Quality</a></th>
            <th class="col-xs-1 text-center"><a href={{ filter_urls.chromosome__chromosome_name }}>Chromosome</a></th>
        </tr>
        </thead>
        <tbody>

        {% for each in results %}
            <td class="text-center">{{ each.snp_id }}</td>
            <td class="text-center">{{ each.library__librarycode }}</td>
            <td class="text-center">{{ each.snp_position }}</td>
            <td class="text-center">{{ each.result_id }}</td>
            <td class="text-center">{{ each.ref_base }}</td>
            <td class="text-center">{{ each.alt_base }}</td>
            <td class="text-center">{{ each.heterozygosity }}</td>
            <td class="text-center">{{ each.quality }}</td>
            <td class="text-center">{{ each.chromosome__chromosome_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container" style="padding-bottom:30px">
    <div class="ngsdb pagination">
        <ul class="ngsdb">
            {% if results.has_previous %}
                <li><a href="?page={{  results.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {%  endif %}

            {% for page in paginator.page_range %}
                {% if page <= toolbar_max and page > toolbar_min and page != results.number %}
                    <li><a href="?page={{  page  }}">{{ page }}</a></li>
                {% elif page == results.number %}
                    <li class="active"><a href="?page={{  results.number }}">{{ results.number }}</a></li>
                {% endif %}
            {% endfor %}

            {% if results.has_next %}
                <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
</html>