<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}

{% load static %}
{% load staticfiles %}
{% load display_rows %}

{% block title %}
    SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">SNP Found in Genes</h1>
	</div>
</div>


<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-inline" role="form" id='search' action='/snpdb/gene-snps/search' method="get">
                <div class="form-group">
                    <label class="sr-only" for="gene_id">Gene ID</label>
                    <input type="text" class="form-control" name="s" placeholder="gene id">
                </div>
                <select class="selectpicker show-tick" data-style="btn-large btn-default" name="f">
                  <option value="0">No Flanking</option>
                  <option value="100">100 bp flanking</option>
                  <option value="200">200 bp flanking</option>
                  <option value="300">300 bp flanking</option>
                  <option value="400">400 bp flanking</option>
                </select>
                <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
            </form>
        </ul>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="form">
       {% for group in genes|group_by:6 %}
            <div class="form-group">
                {% for obj in group %}
                    <label class="col-sm-2">{{ obj.effect_string }}</label>
                {% endfor %}
            </div>
       {% endfor %}
    </div>
</div>

</body>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="ngsdb pagination">
        <ul class="ngsdb">
            {% if genes.has_previous %}
                <li><a href="?page={{  genes.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {%  endif %}

            {% for page in paginator.page_range %}
                {% if page <= toolbar_max and page > toolbar_min and page != genes.number %}
                        <li><a href="?page={{  page  }}">{{ page }}</a></li>
                {% elif page == genes.number %}
                    <li class="active"><a href="?page={{  genes.number }}">{{ genes.number }}</a></li>
                {% endif %}
            {% endfor %}

            {% if genes.has_next %}
                <li><a href="?page={{ genes.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
</html>