<!DOCTYPE html>
<html lang="en">

{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load snp_filters %}
{% load mathfilters %}
{% load get_param %}


{% block title %}
    {{gene_id}}
{% endblock %}


{% block bootstrap %}


<div class="container-fluid" style="padding-bottom:30px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background-color: #616770; color: white; border-color:#616770">
                <h4 class="panel-title">
                    <div style="padding-bottom: 5px">{{gene_id}} {{chrom}}:{{fmin}} - {{fmax}} <a class="pull-right" href="http://tritrypdb.org/tritrypdb/showRecord.do?name=GeneRecordClasses.GeneRecordClass&source_id={{gene_id}}&project_id=TriTrypDB" target=_blank>More info at TriTrypDb</a></div>
                </h4>
                <div style="padding-bottom:5px; font-size: 12pt">{{gene_name|effect_type_title}} <span style="font-size: 10pt; padding-left:68px;">#Changes to CDS Length: {{high_ct}}</span>  <span style="font-size: 10pt; padding-left:68px;"> #Non-Synonymous Changes: {{moderate_ct}} </span> <span style="font-size: 10pt; padding-left:68px;">#Synonymous Changes: {{low_ct}}</span></div>
                <div style="font-size: 10pt; padding-bottom: 5px;">Libraries Queried: {{ libraries|joinby:", "}} </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding-bottom:30px">

    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th class="text-center text-info"><a href={{ filter_urls.position }}>Position (bp)</a></th>
                <th class="text-center"><a href={{ filter_urls.impact }}>Impact</a></th>
                <th class="text-center"><a href={{ filter_urls.position }}>Position (aa)</a></th>
                <th class="text-center"><a href={{ filter_urls.percent_impacted }}>Percent Gene Affected</a></th>
                <th class="text-center"><a href={{ filter_urls.more_info }}>More Information</a></th>
            </tr>
        </thead>

        <tbody>
            <tr>

        {% for key, values in snp_list.items %}
            {% if values.impact != "LOW" %}
                <td class="text-center">{{ key }}</td>
                <td class="text-center">{{ values.effect|joinby:", "|effect_type_title }}</td>
                <td class="text-center">{{ values.aa_pos }}</td>
                <td class="text-center">{{ values.percent_impacted|floatformat:0 }}%</td>
                <td class="text-center">
                    <a class="btn" data-toggle="collapse" href="#{{key}}" aria-expanded="false" aria-controls="{{key}}">
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    </a>
                        <div class="collapse" id={{key}} >
                            <div class="well">
                                <table class="table table-striped">
                                    <tr>
                                        <th> Library </th>
                                        <th> Ref <span class="glyphicon glyphicon-arrow-right"></span> Alt </th>
                                        <th> CNV Value
                                            <span class="label glyphicon glyphicon-infobhn-sign" data-toggle="popover" data-placement="top"
                                                data-content="Copy Number Values represent the ratio of average reads in a chromosomal range to the average overall chromosomal reads. Values between 1.75 and 2.25 are considered to be expected diploid values."
                                                title="CNV Information" style="color:#636469; font-size:12px">
                                            </span>
                                            <script>
                                                $("[data-toggle=popover]").popover();
                                            </script>
                                        </th>
                                        <th> Somy Value
                                            <span class="label glyphicon glyphicon-info-sign" data-toggle="popover" data-placement="top"
                                                data-content="Somy Values represent the ratio of average reads in a chromosome to the average overall genome reads. Values between 1.75 and 2.25 are considered to be expected diploid values."
                                                title="Somy Information" style="color:#636469; font-size:12px">
                                            </span>
                                            <script>
                                                $("[data-toggle=popover]").popover();
                                            </script>
                                        </th>
                                        <th> Loss of Function?</th>
                                    </tr>
                                        {% for lib in libraries %}
                                            {% if lib in values %}
                                                <tr>
                                                    <td> {{lib}} </td>

                                                    {% ifequal values|keyvalue:lib|keyvalue:'ref' values|keyvalue:lib|keyvalue:'alt' %}
                                                        <td>No SNP</td>
                                                    {% else %}
                                                        <td> {{values|keyvalue:lib|keyvalue:'ref'}} <span class="glyphicon glyphicon-arrow-right"></span> {{values|keyvalue:lib|keyvalue:'alt'}} </td>
                                                    {% endifequal %}

                                                    {% if values|keyvalue:lib|keyvalue:'cnv' > 2.25 or values|keyvalue:lib|keyvalue:'cnv' < 1.75 %}
                                                        <td class="danger"> {{values|keyvalue:lib|keyvalue:'cnv'|floatformat:2}}</td>
                                                    {% else %}
                                                        <td> {{values|keyvalue:lib|keyvalue:'cnv'|floatformat:2}}</td>
                                                    {% endif %}

                                                    {% if values|keyvalue:lib|keyvalue:'somy' > 2.25 or values|keyvalue:lib|keyvalue:'somy' < 1.75 %}
                                                        <td class="danger"> {{values|keyvalue:lib|keyvalue:'somy'|floatformat:2}} </td>
                                                    {% else %}
                                                        <td> {{values|keyvalue:lib|keyvalue:'somy'|floatformat:2}} </td>
                                                    {% endif %}

                                                    <td> {{ values|keyvalue:lib|keyvalue:'loss_of_function' }}</td>
                                            {% endif %}
                                                </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </td>
            </tr>
        {% endif %}
    {% endfor %}
                </tbody>
    </table>
</div>


{% endblock %}

</html>