<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}

{% block content %}
<div class="container" style="padding-bottom:30px">
    <div class="page-header text-header" style="padding-left:30px">
        <h1>Difference Between Libraries</h1>
        <h4>There are {{ count }} snps found in {{library1}} not found in {{library2}}. </h4>
    </div>
</div>

<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-inline" role="form" id='search' action='/snpdb/snps-in-libx-no-liby/search' method="get">
                <div class="form-group">
                    <label class="sr-only" for="library">Library 1</label>
                    <input type="text" class="form-control" name="lib1" placeholder="library 1">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="library">Library 2</label>
                    <input type="text" class="form-control" name="lib2" placeholder="library 2">
                </div>
                <button id="submit" class="btn btn-primary" type="submit">Search</button>
            </form>
        </ul>
    </div>
</div>

</body>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">High Impact</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for each in snps %}
                            {% if each.effect__effect_string == "HIGH" %}
                                <li class="list-group-item">{{each.snp_count}}</li>
                            {% endif %}
                        {% endfor %}
                        {% for each in effects %}
                            {% if each.effect__effect_string == "HIGH"%}
                                <li class="list-group-item">{{each.effect__effect_class}}: {{each.effect_count}}</li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Moderate Impact</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for each in snps %}
                            {% if each.effect__effect_string == "MODERATE" %}
                                <li class="list-group-item">{{each.snp_count}}</li>
                            {% endif %}
                        {% endfor %}
                        {% for each in effects %}
                            {% if each.effect__effect_string == "MODERATE"%}
                                <li class="list-group-item">{{each.effect__effect_class}}: {{each.effect_count}}</li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Low Impact</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for each in snps %}
                            {% if each.effect__effect_string == "LOW" %}
                                <li class="list-group-item">{{each.snp_count}}</li>
                            {% endif %}
                        {% endfor %}
                        {% for each in effects %}
                            {% if each.effect__effect_string == "LOW"%}
                                <li class="list-group-item">{{each.effect__effect_class}}: {{each.effect_count}}</li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Modifier Impact</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for each in snps %}
                            {% if each.effect__effect_string == "MODIFIER" %}
                                <li class="list-group-item">{{each.snp_count}}</li>
                            {% endif %}
                        {% endfor %}
                        {% for each in effects %}
                            {% if each.effect__effect_string == "MODIFIER"%}
                                <li class="list-group-item">{{each.effect__effect_class}}: {{each.effect_count}}</li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
</html>