<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}

{% block content %}
<div class="page-header text-header">
    <h1>Library Summary</h1>
</div>

<body>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <form class="form-inline" role="form" id='search' action='/snpdb/library-summary/search' method="get">
            <div class="form-group">
                <label class="sr-only" for="library_id">Library</label>
                <input type="text" class="form-control" name="s" placeholder="library code">
            </div>
            <button id="submit" class="btn btn-primary" type="submit">Search</button>
        </form>
    </ul>
</div>
</body>


<table class="table table-condensed table-hover table-responsive" style="table-layout: fixed; word-wrap: break-word;">
    <thead>
    <tr>
        <th class="text-center"><a href={{ filter_urls.library_id }}>Library ID</a></th>
        <th class="text-center"><a href={{ filter_urls.librarycode }}>Library Code</a></th>
        <th class="text-center"><a href={{ filter_urls.snp_count }}>SNP Total</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for each in results %}
        <td class="text-center">{{ each.library_id }}</td>
        <td class="text-center">{{ each.library__librarycode }}</td>
        <td class="text-center">{{ each.num_snps }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a href="?page={{  results.previous_page_number }}">&laquo;</a>
        {%  endif %}

        {% for page in paginator.page_range %}
            {% if page <= toolbar_max and page > toolbar_min and page != results.number %}
                <a href="?page={{  page  }}">{{ page }}</a>
            {% elif page == results.number %}
                <span class="current">
                    {{  results.number }}
                </span>
            {% endif %}
        {% endfor %}

        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}">&raquo;</a>
        {% endif %}
    </span>
</div>




{% endblock %}
</html>