<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load snp_filters %}

{% block content %}
<div class="container-fluid">
    <div class="page-header text-header" style="padding-left:30px">
        <h1>SNPs in Library</h1>
        <h5> There are {{count}} snps in this library. </h5>
        <h5> For a list of genes found within this library, follow this <a href="/snpdb/gene-list?lib={{library}}">link</a>.</h5>
    </div>
</div>

<body>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-inline" role="form" id='search' action='/snpdb/library-snp-summary/search' method="get">
                <div class="form-group">
                    <label class="sr-only" for="search">Search</label>
                    <input type="text" class="form-control" name="s" placeholder="search">
                    <input type="hidden" name="lib" value="{{library}}">
                    <input type="hidden" name="count" value="{{count}}">
                    <select class="selectpicker show-tick" data-style="btn-large btn-default" name="att" title='Search Option'>
                        <option value="snp_id">SNP ID</option>
                        <option value="snp_position">Position</option>
                        <option value="ref_base">Reference Base</option>
                        <option value="alt_base">Alternate Base</option>
                        <option value="heterozygosity">Heterozygosity</option>
                        <option value="quality">Quality</option>
                        <option value="chromosome__chromosome_name">Chromosome</option>
                        <option value="effect__effect_string">Genes</option>
                    </select>
                    <button class="btn btn-primary" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
                </div>
            </form>
        </ul>
    </div>
</div>
</body>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="container-fluid">
        <form class="form-inline" role="form" id='compare_libs'>
            <table class="table table-condensed table-hover table-responsive table-bordered" name="result_table" style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                <tr>
                    <th class="text-center"><a href={{ filter_urls.library }}>Library ID</a></th>
                    <th class="text-center"><a href={{ filter_urls.library__librarycode }}>Library</a></th>
                    <th class="text-center"><a href={{ filter_urls.snp_id }}>SNP ID</a></th>
                    <th class="text-center"><a href={{ filter_urls.snp_position }}>Position</a></th>
                    <th class="text-center"><a href={{ filter_urls.ref_base }}>Reference Base</a></th>
                    <th class="text-center"><a href={{ filter_urls.alt_base }}>Alternate Base</a></th>
                    <th class="text-center"><a href={{ filter_urls.heterozygosity }}>Heterozygosity</a></th>
                    <th class="text-center"><a href={{ filter_urls.quality }}>Quality</a></th>
                    <th class="text-center"><a href={{ filter_urls.chromosome__chromosome_name }}>Chromosome</a></th>
                    <th class="text-center"><a href={{ filter_urls.effect__effect_string }}>Genes</a></th>
                </tr>
                </thead>
                <tbody>
                {% for snp_id in results %}
                    {% for each in snp_id %}
                        {% if each.library %}
                            {% if each.effect__effect_string|no_effect %}
                                <tr class="success">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td class="text-center">{{ each.library }}</td>
                                <td class="text-center">{{ library }}</td>
                                <td class="text-center">{{ each.snp_id }}</td>
                                <td class="text-center">{{ each.snp_position }}</td>
                                <td class="text-center">{{ each.ref_base }}</td>
                                <td class="text-center">{{ each.alt_base }}</td>
                                <td class="text-center">{{ each.heterozygosity }}</td>
                                <td class="text-center">{{ each.quality }}</td>
                                <td class="text-center">{{ each.chromosome__chromosome_name }}</td>
                                <td class="text-center">
                                {% if each.effect__effect_string|get_type %}
                                    {% for effect in each.effect__effect_string %}
                                        {{ effect }}
                                    {% endfor %}
                                {% else %}
                                    {{ each.effect__effect_string }}
                                {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
    </form>
</div>
</div>

<div class="container-fluid" style="padding-bottom:30px">

<div class="pagination">
    <ul class="pagination">
        {% if results.has_previous %}
            <li><a href="?page={{  results.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {%  endif %}

        {% for page in paginator.page_range %}
            {% if page <= toolbar_max and page > toolbar_min and page != results.number %}
                <li><a href="/snpdb/library-snp-summary/search?lib={{library}}&count={{count}}&order_by={{order_by}}&page={{ page }}">{{ page }}</a></li>
            {% elif page == results.number %}
                <li class="active"><a href="/snpdb/library-snp-summary/search?lib={{library}}&count={{count}}&order_by={{order_by}}&page={{ results.number }}">{{ results.number }}</a></li>
            {% endif %}
        {% endfor %}

        {% if results.has_next %}
            <li><a href="/snpdb/library-snp-summary/search?lib={{library}}&count={{count}}&order_by={{order_by}}&page={{ results.next }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
</div>

{% endblock %}
</html>