<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load display_rows %}

{% block title %}
    SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">SNPs Found in Genes</h1>
	</div>
</div>

<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form" role="form" id='search' action='/snpdb/multi-gene-snps/search' method="get">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="s" placeholder="gene ids"></textarea>
                    <p class="help-block">Please separate Ids by commmas, semicolons, spaces, or newline.</p>
                </div>
                <div class="form-inline">
                    <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
                </div>
            </form>
        </ul>
    </div>
</div>
</body>

{% endblock %}
</html>