<!DOCTYPE html>
<html lang="en">

{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load display_rows %}

{% block title %}
    Snps found in Genes and Libraries
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">Snps found in Genes and Libraries</h1>
	</div>
</div>


<body>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form-horizontal" role="form" id='search' action='/snpdb/multi-gene-library-snps/search' method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="s" placeholder="gene ids"></textarea>
                    <p class="help-block">Please separate Ids by commas, semicolons, spaces, or newline.</p>
                </div>
                <div class="form-group">
                    {% for group in libraries|group_by:016 %}
                        <div class="form-vertical">
                            {% for lib in group %}
                                <div class="col-sm-2">
                                    <input type="checkbox" name="check" value="{{ lib.library_code }}"> {{lib.library_code}}
                                </div>
                            {% endfor %}
                         </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
                </div>
            </form>
        </ul>
    </div>
</div>

</body>
{% endblock %}
</html>