<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load display_rows %}

{% block title %}
    SNP Summary
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}

<div class="container-fluid">
	<div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
    	<h1 class="header" style="padding-bottom:0px;">SNPs Found in Genes</h1>
	</div>
</div>

<body>
<div class="container-fluid" style="padding-bottom:30px">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <form class="form" role="form" id='search' action='/snpdb/multi-gene-snps/search' method="get">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="s" placeholder="gene ids"></textarea>
                    <p class="help-block">Please separate Ids by commmas, semicolons, spaces, or newline.</p>
                </div>
                <div class="form-inline">
                    <button class="btn btn-sample" type="submit"  style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Search</button>
                </div>
            </form>
        </ul>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="form">
       {% for group in genes|group_by:6 %}
            <div class="form-group">
                {% for obj in group %}
                    <label class="col-sm-2">{{ obj.effect_string }}</label>
                {% endfor %}
            </div>
       {% endfor %}
    </div>
</div>

</body>

<div class="container-fluid" style="padding-bottom:30px">
<div class="ngsdb pagination">
    <ul class="ngsdb pull-left">
        {% if genes.has_previous %}
            <li><a href="?page={{  genes.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {%  endif %}

        {% for page in paginator.page_range %}
            {% if page <= toolbar_max and page > toolbar_min and page != genes.number %}
                    <li><a href="?page={{  page  }}">{{ page }}</a></li>
            {% elif page == genes.number %}
                <li class="active"><a href="?page={{  genes.number }}">{{ genes.number }}</a></li>
            {% endif %}
        {% endfor %}

        {% if genes.has_next %}
            <li><a href="?page={{ genes.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
</div>

{% endblock %}
</html>