<!DOCTYPE html>
<html lang="en">
{% extends "snpdb/dashboard.html" %}
{% load static %}
{% load staticfiles %}
{% load snp_filters %}

{% block title %}
Compare Across Libraries
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block bootstrap %}
<script>
    $('.collapse').collapse()
</script>



<div class="container-fluid">
    <div class="page-header text-header" style="padding-left:30px; margin-top:10px; padding-bottom:0px">
        <h1 class="header" style="padding-bottom:0px;">Difference Between Libraries</h1>
        <h2 class="header" style="padding-top:5px">There are {{lib1_total}} SNPs found in {% for object in library1 %} {{object}} {% endfor %} not found in {% for object in library2 %} {{object}} {% endfor %}.</h2>
        <h2 class="header" style="padding-top:5px">There are {{lib2_total}} SNPs found in {% for object in library2 %} {{object}} {% endfor %} not found in {% for object in library1 %} {{object}} {% endfor %}.</h2>

    </div>
</div>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="row">
        <div class="col-md-6">
            {% for x in lib1_effect %}
                <h1 class="header" style="text-align: center">Novel SNPs unique to {% for object in library1 %} {{object}} {% endfor %}</h1>
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form1" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">High Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="HIGH" />
                            <input type="hidden" name="samp1" value="{{add_code}}" />
                            <input type="hidden" name="library" value="{{library1}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                        <li class="list-group-item">Total: {{ x.4.0 }}
                            {% for key, values in x.0.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for x in lib2_effect %}
                <h1 class="header" style="text-align: center">Novel SNPs unique to {% for object in library2 %} {{object}} {% endfor %}</h1>
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form5" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">High Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="HIGH" />
                            <input type="hidden" name="library" value="{{library2}}" />
                            <input type="hidden" name="samp2" value="{{neg_code}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                        <li class="list-group-item">Total: {{ x.4.0 }}
                            {% for key, values in x.0.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% for x in lib1_effect %}
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form3" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">Moderate Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="MODERATE" />
                            <input type="hidden" name="samp1" value="{{add_code}}" />
                            <input type="hidden" name="library" value="{{library1}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Total SNPs: {{ x.4.1 }}</li>
                            {% for key, values in x.1.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for x in lib2_effect %}
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form6" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">Moderate Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="MODERATE" />
                            <input type="hidden" name="library" value="{{library2}}" />
                            <input type="hidden" name="samp2" value="{{neg_code}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Total SNPs: {{ x.4.1 }}</li>
                            {% for key, values in x.1.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% for x in lib1_effect %}
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form2" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">Low Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="LOW" />
                            <input type="hidden" name="samp1" value="{{add_code}}" />
                            <input type="hidden" name="library" value="{{library1}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Total SNPs: {{ x.4.2 }}</li>
                            {% for key, values in x.2.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for x in lib2_effect %}
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form7" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">Low Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="LOW" />
                            <input type="hidden" name="library" value="{{library2}}" />
                            <input type="hidden" name="samp2" value="{{neg_code}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Total SNPs: {{ x.4.2 }}</li>
                            {% for key, values in x.2.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% for x in lib1_effect %}
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form4" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">Modifier Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="MODIFIER" />
                            <input type="hidden" name="samp1" value="{{add_code}}" />
                            <input type="hidden" name="library" value="{{library1}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Total SNPs: {{ x.4.3 }}</li>
                            {% for key, values in x.3.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for x in lib2_effect %}
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                        <form id="form8" action="/snpdb/impact-snps/search" method="get">
                            <button type="submit" class="btn btn-default btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">View</button>
                            <h3 class="panel-title">Modifier Impact</h3>
                            <input type="hidden" name="path" value="{{path}}" />
                            <input type="hidden" name="impact" value="MODIFIER" />
                            <input type="hidden" name="library" value="{{library2}}" />
                            <input type="hidden" name="samp2" value="{{neg_code}}" />
                            <input type="hidden" name="file" value="vcf-contrast.vcf" />
                        </form>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">Total SNPs: {{ x.4.3 }}</li>
                            {% for key, values in x.3.items %}
                                {% if values|zero %}
                                    <li class="list-group-item">{{ key|effect_type_title }}: {{ values }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-bottom:30px">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading"  style="background-color: #616770; color: white; border-color:#616770">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        High Impact
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr> <th> Effect<br>Seq. Ontology </th><th> Effect<br>Classic </th><th> Note &amp; Example </th><th>Impact</th> </tr>
                        <tr> <td> chromosome  </td><td> CHROMOSOME_LARGE DELETION  </td><td> A large parte (over 1%) of the chromosome was deleted. </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001572"> exon_loss_variant </a>  </td><td> EXON_DELETED  </td><td> A deletion removes the whole exon. </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001589"> frameshift_variant </a>  </td><td> FRAME_SHIFT  </td><td> Insertion or deletion causes a frame shift <br>e.g.:  An indel size is not multiple of 3 </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002008">rare_amino_acid_variant</a> </td><td> RARE_AMINO_ACID </td><td> The variant hits a rare amino acid thus is likely to produce protein loss of function </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001574"> splice_acceptor_variant </a>  </td><td> SPLICE_SITE_ACCEPTOR  </td><td> The variant hits a splice acceptor site (defined as two bases before exon start, except for the first exon). </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001575"> splice_donor_variant </a>  </td><td> SPLICE_SITE_DONOR  </td><td> The variant hits a Splice donor site (defined as two bases after coding exon end, except for the last exon). </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001578"> stop_lost </a>  </td><td> STOP_LOST  </td><td> Variant causes stop codon to be mutated into a non-stop codon <br>e.g.: Tga/Cga, */R </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002012"> start_lost</a> </td><td> START_LOST   </td><td> Variant causes start codon to be mutated into a non-start codon. <br> e.g.: aTg/aGg, M/R </td> <td> HIGH </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001587"> stop_gained </a>  </td><td> STOP_GAINED  </td><td> Variant causes a STOP codon <br>e.g.: Cag/Tag, Q/* </td> <td> HIGH </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #616770; color: white">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Moderate Impact
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr> <th> Effect<br>Seq. Ontology </th><th> Effect<br>Classic </th><th> Note &amp; Example </th><th>Impact</th> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001580"> coding_sequence_variant </a>  </td><td> CODON_CHANGE  </td><td> One or many codons are changed <br>e.g.:  An MNP of size multiple of 3 </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001821"> inframe_insertion </a>  </td><td> CODON_INSERTION  </td><td> One or many codons are inserted <br>e.g.:  An insert multiple of three in a codon boundary </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001824"> disruptive_inframe_insertion</a>  </td><td> CODON_CHANGE_PLUS CODON_INSERTION  </td><td> One codon is changed and one or many codons are inserted <br>e.g.:  An insert of size multiple of three, not at codon boundary </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001822"> inframe_deletion </a>  </td><td> CODON_DELETION  </td><td> One or many codons are deleted <br>e.g.:  A deletion multiple of three at codon boundary </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001826"> disruptive_inframe_deletion </a>  </td><td> CODON_CHANGE_PLUS CODON_DELETION  </td><td> One codon is changed and one or more codons are deleted <br>e.g.:  A deletion of size multiple of three, not at codon boundary </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001630"> splice_region_variant </a>  </td><td> SPLICE_SITE_BRANCH_U12  </td><td> A varaint affective putative (Lariat) branch point from U12 splicing machinery, located in the intron.</td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001583"> missense_variant </a>  </td><td> NON_SYNONYMOUS_CODING  </td><td> Variant causes a codon that produces a different amino acid <br>e.g.:  Tgg/Cgg, W/R </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002015"> 3_prime_UTR_truncation</a> + <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001572"> exon_loss </a>  </td><td> UTR_3_DELETED  </td><td> The variant deletes an exon which is in the 3'UTR of the transcript </td> <td> MODERATE </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002013"> 5_prime_UTR_truncation</a> + <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001572">exon_loss_variant</a> </td><td> UTR_5_DELETED  </td><td> The variant deletes an exon which is in the 5'UTR of the transcript </td> <td> MODERATE </td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"  style="background-color: #616770; color: white">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Low Impact
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr> <th> Effect<br>Seq. Ontology </th><th> Effect<br>Classic </th><th> Note &amp; Example </th><th>Impact</th> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001582"> initiator_codon_variant </a>  </td><td> NON_SYNONYMOUS_START  </td><td> Variant causes start codon to be mutated into another start codon (the new codon produces a different AA). <br>e.g.: Atg/Ctg, M/L (ATG and CTG can be START codons) </td> <td> LOW </td> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001567"> stop_retained_variant </a>  </td><td> NON_SYNONYMOUS_STOP  </td><td> Variant causes stop codon to be mutated into another stop codon (the new codon produces a different AA). <br>e.g.: Atg/Ctg, M/L (ATG and CTG can be START codons) </td> <td> LOW </td> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001819"> synonymous_variant </a>  </td><td> SYNONYMOUS_CODING  </td><td> Variant causes a codon that produces the same amino acid <br>e.g.:  Ttg/Ctg, L/L </td> <td> LOW </td> </tr>
                        <tr> <td> <a href=""> start_retained </a>  </td><td> SYNONYMOUS_START  </td><td> Variant causes start codon to be mutated into another start codon. <br>e.g.:  Ttg/Ctg, L/L (TTG and CTG can be START codons) </td> <td> LOW </td> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001567"> stop_retained_variant </a>  </td><td> SYNONYMOUS_STOP  </td><td> Variant causes stop codon to be mutated into another stop codon. <br>e.g.: taA/taG, */* </td> <td> LOW </td> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001630"> splice_region_variant </a>  </td><td> SPLICE_SITE_REGION  </td><td> A sequence variant in which a change has occurred within the region of the splice site, either within 1-3 bases of the exon or 3-8 bases of the intron.</td> <td> LOW </td> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001630"> splice_region_variant </a>  </td><td> SPLICE_SITE_BRANCH  </td><td> A varaint affective putative (Lariat) branch point, located in the intron.</td> <td> LOW </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001988"> 5_prime_UTR_premature start_codon_gain_variant </a>  </td><td> START_GAINED  </td><td> A variant in 5'UTR region produces a three base sequence that can be a START codon. </td> <td> LOW </td> </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"  style="background-color: #616770; color: white">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        Modifier Impact
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr> <th> Effect<br>Seq. Ontology </th><th> Effect<br>Classic </th><th> Note &amp; Example </th><th>Impact</th> </tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001632"> downstream_gene_variant </a>  </td><td> DOWNSTREAM  </td><td> Downstream of a gene (default length: 5K bases) </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001791"> exon_variant </a>  </td><td> EXON  </td><td> The vairant hits an exon. </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001580"> coding_sequence_variant </a>  </td><td> CDS  </td><td> The variant hits a CDS. </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001564"> gene_variant </a>  </td><td> GENE  </td><td> The variant hits a gene. </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0000605"> intergenic_region</a> </td><td> INTERGENIC </td><td> The variant is in an intergenic region </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002017"> conserved_intergenic_variant</a> </td><td> INTERGENIC_CONSERVED </td><td> The variant is in a highly conserved intergenic region </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002011"> intragenic_variant</a> </td><td> INTRAGENIC </td><td> The variant hits a gene, but no transcripts within the gene</td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001627"> intron_variant </a>  </td><td> INTRON  </td><td> Variant hits and intron. Technically, hits no exon in the transcript. </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0002018"> conserved_intron_variant </a>  </td><td> INTRON_CONSERVED  </td><td> The variant is in a highly conserved intronic region </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0000276"> miRNA </a>  </td><td> MICRO_RNA  </td><td> Variant affects an miRNA </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001576"> transcript_variant </a>  </td><td> TRANSCRIPT  </td><td> The variant hits a transcript. </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001566"> regulatory_region_variant </a>  </td><td> REGULATION  </td><td> The variant hits a known regulatory feature (non-coding). </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001631"> upstream_gene_variant </a>  </td><td> UPSTREAM  </td><td> Upstream of a gene (default length: 5K bases) </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001624"> 3_prime_UTR_variant </a>  </td><td> UTR_3_PRIME  </td><td> Variant hits 3'UTR region </td> <td> MODIFIER </td></tr>
                        <tr> <td> <a href="http://www.sequenceontology.org/browser/current_svn/term/SO:0001623"> 5_prime_UTR_variant </a>  </td><td> UTR_5_PRIME  </td><td> Variant hits 5'UTR region </td> <td> MODIFIER </td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


{% endblock %}
</html>