{% extends "admin/base.html" %}
{% load i18n grp_tags %}
{% load staticfiles %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

<!-- LOGO AND BRANDING -->
{% block logo-brand %}
<div id="grp-branding">
    <div id="logo">
        <img src="{{ STATIC_URL }}/img/logov2.png">
    </div>
    <div id="brand">
        <h1 id="grp-admin-title">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}</h1>
    </div>

<!-- Username & links area-->



{% if user.is_active and user.is_staff%}
    <ul id="grp-user-tools">
    <div id="user-tools">
        {% trans 'Welcome,' %}
        <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
            {%if user.username != 'guest' %}
            {% if password_change_url %}
                <a href="{{ password_change_url }}">
            {% else %}
                <a href="{{ root_path }}password_change/">
            {% endif %}
                {% trans 'Change password' %}</a> /
                	{% url 'admin:logout' as logout_url %}
                	{% if logout_url %}
                    		<a href="{{ logout_url }}">
                	{% else %}
                    		<a href="{{ root_path }}logout/">
                	{% endif %}
                	{% trans 'Log out' %}</a>
               {%else%}
              		<a href="/admin/">{% trans 'Log In' %}</a>
               {%endif%}

        <!-- contact/about us -->
        <div id="general-links">
            <a href="/">{% trans 'Home' %}<B>|</B>
            <a href="/ngsdbview/aboutus">About Us</a><B>|</B>
            <a href="/ngsdbview/contact">Contact Us</a><B>|</B
            <a href="https://jira.sbri.org/browse/NGS-279">Log Issues</a>
        </div>
        <!-- Admin links -->
        </br>
        <div id="admin-links">    <P>
            <B> Add A New</B>
            <a href="/admin/samples/sample/add/">Sample</a><B>|</B>
            <a href="/admin/samples/library/add/">Library</a><B>|</B>
            <a href="/admin/auth/user/add/">User </a><B>|</B>
            <a href="/admin/">Admin</a>
        </div>
        <div id="admin-links">    <P>
            <B> List All</B>
            <a href="/admin/samples/sample/">Samples</a><B>|</B>
            <a href="/admin/samples/library/">Libraries</a><B>|</B>
            <a href="/admin/auth/user/">Users </a><B>
        </div>


        <div id="admin-docs">
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        {% endif %}
        </div>
    </div>
    </ul>
{% endif %}

</div>
{% endblock logo-brand %}

<!-- content title -->
{% block content_title %}
    {% if title %}
        <header><h1>{{ title }}</h1></header>
    {% endif %}
{% endblock %}

<!-- Links for naviation -->
{% block nav-global %}
<div id='cssmenu'>
<ul>
   <li class='active'><a href="/ngsdbview/dashboard/"><span>Home</span></a>
   </li>
   {% if user.is_active %}

   <!-- New Menu starts -->
   <li class='has-sub'><a href="/samples/librarylist/"><span>List all</span></a>
       <ul>
           <li class='first'><a href="/admin/samples/sample/"><span>Samples</span></a> </li>
           <li><a href="/admin/samples/library/"><span>Libraries</span></a> </li>
           <li><a href="/admin/samples/library/"><span>Analyses</span></a> </li>
           <li><a href="/ngsdbview/listexperiments/"><span>Experiments</span></a> </li>
           <li><a href="/admin/ngsdbview/experiment/"><span>Add Experiments</span></a> </li>
           <li><a href="/admin/ngsdbview/collaborator/"><span>Collaborators</span></a> </li>
           <li><a href="/admin/samples/bioproject/"><span>Bioprojects</span></a> </li>
           <li><a href="/admin/ngsdbview/organism/"><span>Organisms</span></a> </li>
           <li class='last'><a href="/admin/samples/genome/"><span>Genomes</span></a> </li>
       </ul>
   </li>

   <li class='has-sub'><a href="/samples/librarylist/"><span>Query</span></a>
       <ul>
            <li class='has-sub'><a href="/ngsdbview/get_results_for_gene/"><span>Query Splice Leader DB</span></a>
                <ul>
                    <li class="first"><a href="/ngsdbview/get_results_for_gene/"><span>For a Gene All-libs</span></a></li>
                    <li><a href="/ngsdbview/query_multigenes/"><span>for Multi-Gene One-Lib</span></a></li>
                    <li><a href="/ngsdbview/query_multigenes_multilibs/"><span>for Multi-Gene Multi-Libs</span></a></li>
                    <Li><a href="/ngsdbview/get_results_for_library/"><span>for a Library</span></a></li>
                    <li><a href="/ngsdbview/Get_sites_forlib/"><span>for SL Sites from a Library</span></a></li>
                    <li class="last"><a href="/ngsdbview/get_sitecount_majorpc_forlibs/"><span>for SLsite counts and Major SL percentage</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href="/ngsdbview/listexperiments/"><span>Query RiboProf DB</span></a>
                <ul>
                    <li class="first"><a href="/ngsdbview/listexperiments/"><span>to list all Experiments</span></a></li>
                    <li class="last"><a href="/ngsdbview/analyzeexperiments/"><span>for an Experiment</span></a></li>

                </ul>
            </li>
            <li class='has-sub'><a href="/ngsdbview/listexperiments/"><span>Query Across SL and RiboProf</span></a>
                <ul>
                    <li class="first"><a href="/ngsdbview/listexperiments/"><span>to list all Experiments</span></a></li>
                    <li class="last"><a href="/ngsdbview/analyzeexperiments/"><span>for an Experiment</span></a></li>

                </ul>
            </li>

       </ul>
   </li>
   <!-- New Menu ends -->



   <li class='has-sub'><a href="/samples/librarylist/"><span>Samples DB</span></a>
       <ul>
           <li class='has-sub'><a href="/samples/librarylist/"><span>List Samples</span></a>
               <ul>
                    <li><a href="/admin/samples/sample/"><span>Fully Editable</span></a></li>

               </ul>
           </li>
           <li class='has-sub'><a href="/samples/librarylist/"><span>List Libraries</span></a>
                <ul>
                    <li><a href="/admin/samples/library/"><span>Fully Editable</span></a></li>
                    <li><a href="/samples/librarylist/"><span>Slim Viewonly</span></a></li>
                </ul>

       </ul>
   </li>

   <li class='has-sub'><a href="/ngsdbview/listlibraries/"><span>Splice Leader</span></a>
      <ul>
         <li class='has-sub'><a href="/ngsdbview/listlibraries/"><span>List All</span></a>
            <ul>
                <li><a href="/ngsdbview/listlibraries/"><span>List Libraries</span></a></li>
                <li class="last"><a href="/ngsdbview/ngsdbview_result/"><span>List Analyses</span></a></li>
            </ul>
          </li>

         <li class='has-sub'><a href="/ngsdbview/listlibraries/"><span>Gene Level Queries</span></a>
            <ul>
                 <li class="first"><a href="/ngsdbview/get_results_for_gene/"><span>Query for a Gene</span></a></li>
                 <li><a href="/ngsdbview/query_multigenes/"><span>Query for Multi-Gene One-Lib</span></a></li>
                 <li class="last"><a href="/ngsdbview/query_multigenes_multilibs/"><span>Query for Multi-Gene Multi-Libs</span></a></li>
             </ul>
         <li class='has-sub'><a href="/ngsdbview/listlibraries/"><span>Library Level Queries</span></a>
            <ul>
                <li class="first"><a href="/ngsdbview/get_results_for_library/"><span>Query a Library</span></a></li>
                <li><a href="/ngsdbview/Get_sites_forlib/"><span>Get Sites from a Library</span></a></li>
                <li><a href="/ngsdbview/get_sitecount_majorpc_forlibs/"><span>get_sitecount_majorpc_forlibs</span></a></li>
            </ul>
          </li>
          <li class='has-sub'><a href="/ngsdbview/listlibraries/"><span>Others</span></a>
            <ul>

                <li><a href="/ngsdbview/pair_libraries/"><span>pair_libraries</span></a></li>
                <li><a href="/ngsdbview/alignstats/"><span>Alignstats</span></a></li>
                <li><a href="/ngsdbview//"><span>Menus</span></a></li>
            </ul>
          </li>
      </ul>
   </li>
   <li>
       <a href="/ngsdbview/alignstats/"><span>Alignment Statistics</span></a>
   </li>
   <!-- Admin links on menu bar -->
   <li class='has-sub'><a href="/samples/librarylist/"><span>Admin</span></a>
       <ul>
           <li class='has-sub'><a href="#"><span>User Management</span></a>
               <ul>
                    <li><a href="/admin/auth/user/add/"><span>Add New User</span></a></li>
                    <li><a href="/admin/auth/user/"><span>Edit Existing User</span></a></li>
                    <li><a href="/admin/auth/user/"><span>Assign Libraries to User</span></a></li>
               </ul>
           </li>
           <li class='has-sub'><a href="#"><span>Sample Management</span></a>
               <ul>
                    <li><a href="/admin/samples/library/add/"><span>Add a Library</span></a></li>
                    <li><a href="/admin/samples/library/"><span>Edit Existing Libraries</span></a></li>
                   <li><a href="/admin/samples/sample/add/"><span>Add a Sample</span></a></li>
                    <li><a href="/admin/samples/sample/"><span>Edit Existing Samples</span></a></li>

               </ul>
           </li>
       </ul>
   </li>


   {% endif %}
   <li class='last'><a href="/ngsdbview/contact/"><span>Contact</span></a></li>

</ul>
</div>
{% endblock nav-global %}
