<div id='cssmenu'>
    <ul>
        <li class='active'><a href="/ngsdbview/dashboard/"><span>Home</span></a>
        </li>
        {% if user.is_active %}

        <!-- New Menu starts -->
        <li class='has-sub'><a href=""><span>List all</span></a>
            <ul>
                <li class='first'><a href="/admin/samples/sample/"><span>Samples</span></a> </li>
                <li><a href="/admin/samples/library/"><span>Libraries</span></a> </li>
                <li><a href="/admin/samples/library/"><span>Analyses</span></a> </li>
                <li><a href="/ngsdbview/listexperiments/"><span>Experiments</span></a> </li>
                <!-- <li><a href="/admin/ngsdbview/experiment/"><span>Add Experiments</span></a> </li> -->
                <li><a href="/admin/ngsdbview/collaborator/"><span>Collaborators</span></a> </li>
                <li><a href="/admin/samples/bioproject/"><span>Bioprojects</span></a> </li>
                <li><a href="/admin/ngsdbview/organism/"><span>Organisms</span></a> </li>
                <li class='last'><a href="/admin/samples/genome/"><span>Genomes</span></a> </li>
            </ul>
        </li>

        <li class='has-sub'><a href=""><span>Sample/Library DB</span></a>
            <ul>
                <li class='first'><a href="/admin/samples/sample/"><span>List All Samples</span></a> </li>
                <li><a href="/admin/samples/sample/add/"><span>Add a New Sample</span></a> </li>
                <li><a href="/admin/samples/library/"><span>List All Libraries</span></a> </li>
                <li class='last'><a href="/admin/samples/library/add/"><span>Add a New Library</span></a> </li>
            </ul>
        </li>

        <!--
        <li class='has-sub'><a href="/samples/librarylist/"><span>Query</span></a>
            <ul>
                 <li class='has-sub'><a href="/ngsdbview/search_for_gene/"><span>Query Splice Leader DB</span></a>
                     <ul>
                         <li class="first"><a href="/ngsdbview/search_for_gene/"><span>For a Gene All-libs</span></a></li>
                         <li><a href="/ngsdbview/query_multigenes/"><span>for Multi-Gene One-Lib</span></a></li>
                         <li><a href="/ngsdbview/query_multigenes_multilibs/"><span>for Multi-Gene Multi-Libs</span></a></li>
                         <Li><a href="/ngsdbview/get_results_for_library/"><span>for a Library</span></a></li>
                         <li><a href="/ngsdbview/Get_sites_forlib/"><span>for SL Sites from a Library</span></a></li>
                         <li class="last"><a href="/ngsdbview/get_sitecount_majorpc_forlibs/"><span>for SLsite counts and Major SL percentage</span></a></li>
                     </ul>
                 </li>
                 <li class='has-sub'><a href="/ngsdbview/listexperiments/"><span>Query RiboProf DB</span></a>
                     <ul>
                         <li class="last"><a href="/ngsdbview/analyzeexperiments/"><span>for an Experiment</span></a></li>
                         <li class="first"><a href="/ngsdbview/listexperiments/"><span>to list all Experiments</span></a></li>

                     </ul>
                 </li>
                 <li class='has-sub'><a href="/ngsdbview/listexperiments/"><span>Query Across SL and RiboProf</span></a>
                     <ul>
                         <li class="first"><a href="/ngsdbview/listexperiments/"><span>to list all Experiments</span></a></li>
                         <li class="last"><a href="/ngsdbview/analyzeexperiments/"><span>for an Experiment</span></a></li>

                     </ul>
                 </li>

            </ul>
        </li>

        <!-- New Menu ends -->

        <li>
            <a href="/ngsdbview/alignstats/"><span>Alignment Statistics</span></a>
        </li>

        <li class='has-sub'><a href=""><span>Splice Leader</span></a>
            <ul>
                <li><a href="/samples/listlibraries/SL/all/"><span>List SL Libs. Constructed</span></a></li>
                <li><a href="/samples/listlibraries/SL/analysed/"><span>List SL Libs. Analysed and Loaded</span></a></li>
                <li><a href="/ngsdbview/search_for_gene/"><span>Query a Gene across ALL Libs.</span></a></li>
                <li><a href="/ngsdbview/query_multigenes/"><span>Query Genes across one Lib.</span></a></li>
                <li><a href="/ngsdbview/query_multigenes_multilibs/"><span>Query Genes across many Libs</span></a></li>
                <li><a href="/ngsdbview/get_results_for_library/"><span>Query a Library</span></a></li>
                <!--<li><a href="/ngsdbview/Get_sites_forlib/"><span>Get Sites from a Library</span></a></li> -->
                <!--<li><a href="/ngsdbview/get_sitecount_majorpc_forlibs/"><span>get_sitecount_majorpc_forlibs</span></a></li>-->

                <!--<li class='has-sub'><a href="/ngsdbview/listlibraries/"><span>Others</span></a>
                  <ul>

                      <li><a href="/ngsdbview/pair_libraries/"><span>pair_libraries</span></a></li>
                      <li><a href="/ngsdbview/alignstats/"><span>Alignstats</span></a></li>
                      <li><a href="/ngsdbview//"><span>Menus</span></a></li>
                  </ul>
                  -->
            </ul>
        </li>
    </ul>

    <li class='has-sub'><a href=""><span>Ribo Prof</span></a>
        <ul>
            <li class="first"><a href="/ngsdbview/listexperiments/"><span>List all Experiments</span></a></li>
            <li class="last"><a href="/ngsdbview/analyzeexperiments/"><span>Analyze an Experiment</span></a></li>
        </ul>
    </li>
    <li class='has-sub'><a href=""><span>SNP DB</span></a></li>

    <!-- Admin links on menu bar -->
    <li class='has-sub'><a href="/samples/librarylist/"><span>Admin</span></a>
        <ul>
            <li class='has-sub'><a href="#"><span>User Management</span></a>
                <ul>
                    <li><a href="/admin/auth/user/add/"><span>Add New User</span></a></li>
                    <li><a href="/admin/auth/user/"><span>Edit Existing User</span></a></li>
                    <li><a href="/admin/auth/user/"><span>Assign Libraries to User</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href="#"><span>Sample Management</span></a>
                <ul>
                    <li><a href="/admin/samples/library/add/"><span>Add a Library</span></a></li>
                    <li><a href="/admin/samples/library/"><span>Edit Existing Libraries</span></a></li>
                    <li><a href="/admin/samples/sample/add/"><span>Add a Sample</span></a></li>
                    <li><a href="/admin/samples/sample/"><span>Edit Existing Samples</span></a></li>
                </ul>
            </li>
        </ul>
    </li>
</div>
