{%extends "admin/base_site.html"%}

{%block content %}

<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <h3>Principal Investigator</h3>
            Peter Myler PhD.
            <br> Phone: 206 256-7332
            <br> Email: Peter.Myler [AT] sbri.org
        </p>

        <p><br>
            <h3>Bioinformatics Core Manager</h3>
            Isabelle Phan
            <br> Email: isabelle.phan [AT] seattlebiomed.org
        </p>

        <p><br>
            <h3>Bioinformatics Research Specialist</h3>
            Gowthaman Ramasamy
            <br> Email: gowthaman.ramasamy [AT] seattlebiomed.org
        </p>
    </div>
</div>
{%endblock%}


