{% extends "admin/base_site.html" %}
{% load staticfiles %}

{%block content%}
<link rel="stylesheet" type="text/css" href="/media/css/style.css" >
<link rel="stylesheet" type="text/css" href="/media/css/tabstyle.css" >

{% block body %}

<!-- for autocompletion -->
<link href="/media/css/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css"/>
<script language="javascript" type="text/javascript" src="/media/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
       /*$("input#id_resultidfield").autocomplete({source: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"]});*/
       {% autoescape off %}
           {{ autoclibcodes }}
       {% endautoescape %}
   });
</script>
<!-- end for autocompletion -->



<FORM action="." method="post">
{% csrf_token %}

{% if alignstatdics %}
    <FORM action="." method="post">
    {% csrf_token %}
    {% load ngsdbview_extras %}
    {% load humanize %}

    <!--  second ttable   -->
    <div class="container">
        <table id="viewtable" class="table table-condensed table-hover" style="table-layout: fixed; word-wrap: break-word;">
            {% for rowtitle in roworder %}
            <tr>
                <th>{{ rowtitle }} </th>
                {% for key in alignstatdicshori|hash:rowtitle %}
                <td>{{ alignstatdicshori|hash:rowtitle|hash:key|intcomma }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if alignstatpics %}
    {# display common vertically stacked bar chart #}
    <div class="container">
        <table id="viewtable">
            <tr><td><img src="{{ alignstatpics }}"</td></tr>
        </table>
    </div>
    {% endif %}

{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <tr>
                <td> {{ form.as_table }}</td>
            </tr>
            {% for genome_version, libcodes in genomelibcodemap.items %}
            <div class="col-md-1" style="padding:10">
                <div class="panel panel-primary" style="border-color: #616770;">
                    <div class="panel-heading" style="background-color: #616770; border-color:#616770; padding:5">
                        <h5 class="panel-title" style="font-size:12px;">{{ genome_version }}</h5>
                    </div>
                    <div class="panel-body" style="padding:5">
                        <table class="table borderless" id="viewtable">
                            <tbody>
                            <tr>
                                {% for libcode in libcodes %}
                                <td class="list-group-item" style="font-size:12px;">
                                    <input type="checkbox"  name="libcode_genome_version" value={{ libcode|add:'_'|add:genome_version }} style="margin-right:5">{{ libcode }}</input>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <input type="submit" name="level1" value="Submit" />
</div>
</FORM>
{% endif %}
{% endblock %}
{% endblock %}