{%extends "admin/base_site.html"%}

<link rel="stylesheet" type="text/css" href="/media/css/style.css" >
<link rel="stylesheet" type="text/css" href="/media/css/tabstyle.css" >


{%block content%}
{# Listen for click on toggle checkbox #}
  <script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('resid');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>


{% block body %}
<FORM action="." method="post">
{% csrf_token %}

    {# Display results...#}
{% load ngsdbview_extras %}


{%  if allres  %}
<div>
    <div class="container-fluid">
        <h1>QUERY:</h1>
        <div class="form-group">
            <dl class="dl-horizontal">
                <dt><h2>Query Gene Id(s):</h2></dt>
                <dd>{{ geneid }}</dd>
            </dl>
        </div>
    </div>


    <input type="hidden" name="geneid" value={{ geneid }}>

    <div class="container-fluid" style="padding-bottom: 30px">
    <h2>Target Libraries:</h2>
    <table class="table table-condensed table-hover table-bordered" style="table-layout: fixed; word-wrap: break-word;" id="viewtable">
        <thead>
        <tr>
            <td class="text-center" bgcolor="#919dab"><input type="checkbox" style="margin-right:15px" onClick="toggle(this)"/>Result Ids</td>
            <td class="text-center" bgcolor="#919dab">Library Code</td>
            <td class="text-center" bgcolor="#919dab">Library Type</td>
            <td class="text-center" bgcolor="#919dab">Library Constructed on</td>
            <td class="text-center" bgcolor="#919dab">Lifestage</td>
            <td class="text-center" bgcolor="#919dab">Phenotype</td>
            <td class="text-center" bgcolor="#919dab">Genome Aligned to</td>
            <td class="text-center" bgcolor="#919dab">Genome version</td>
            <td class="text-center" bgcolor="#919dab">Genome source</td>
            <td class="text-center" bgcolor="#919dab">View Analysis Steps</td>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for res in allres %}
            {% for lib in res.libraries.all %}
                <td class="text-center"><input type="checkbox" name="resid" style="margin-right:15px" value = {{ res.result_id }} >{{ res.result_id }}</td>
                <td class="text-center">{{ lib.librarycode }}</td>
                <td class="text-center">{{ lib.librarytype }}</td>
                <td class="text-center">{{ lib.organism.organismcode }}</td>
                <td class="text-center">{{ lib.lifestage.lifestage }}</td>
                <td class="text-center">{{ lib.phenotype.phenotype }}</td>
                <td class="text-center">{{ res.genome.organism.organismcode }}</td>
                <td class="text-center">{{ res.genome.version }}</td>
                <td class="text-center">{{ res.genome.source }}</td>
                <td class="text-center"><a href="/ngsdbview/list_analysis_steps/{{ res.result_id }}/" target="_blank">View Analysis Steps</a></td>
        </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

{# Printing result table #}
{% if slsreadcount %}
<div>
    <div class="container-fluid">
        <dl>
            <dt><h2>Splice Leader Raw Read Counts across the gene:</h2></dt>
            <dd>*Interval => the position replative to A of start ATG codon</dd>
        </dl>
    </div>

<div class="container-fluid">
    <table class="table table-condensed table-bordered" style="table-layout: fixed; word-wrap: break-word;" id="viewtable">
        <thead>
        <tr>
            <td class="text-center" bgcolor="#919dab">Interval*</td>
            {% for pos in ordposlist %}
                <td class="text-center" bgcolor="#919dab">{{ interval|hash:pos }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td class="text-center" bgcolor="#919dab">Base Position</td>
            {% for pos in ordposlist %}
                <td class="text-center" bgcolor="#919dab">{{ pos }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for resid, posdic in slsreadcount.items %}
            <tr>
                <td class="text-center" bgcolor="#919dab"> {{ libcodes|hash:resid }}</td>
                {% for pos in ordposlist %}
                    {% if pos ==  majorsitepos|hash:165 %}
                    <th class="text-center">{{ posdic|hash:pos }} {{ majorsitepos|hash:resid }}</th>
                    {% else %}
                    <td class="text-center">{{ posdic|hash:pos }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{%  endif %}

<div class="container-fluid">
    <div class="form-group">
        <button class="btn btn-sample" type="submit" name="level2" style="margin-left:0px; width:75px; vertical-align:middle; padding: 0px">Submit</button>
    </div>
</div>


{% if slsreadcount %}


{% endif %}

{% else %}
{# display the empty form  #}

<TABLE>
 	<TR>
		<TD>

				{{ form.as_table }}
		</TD>
		<TD>
            <button class="btn btn-sample" type="submit" name="level1" style="margin-left: 0px; width:75px; vertical-align: middle; padding-bottom: 0px;">Submit</button>
			</form>
		</TD>
  </TR>
</TABLE>

{% endif %}
{% endblock %}
{% endblock %}
