{% extends "admin/base_site.html" %}
{% block bootstrap %}
<script>
    $('.collapse').collapse()
</script>
{% endblock %}

{%block content%}
{% block body %}
{% load ngsdbview_extras %}
{% load humanize %}

<!-- for autocompletion -->
<!-- end for autocompletion -->

{%  if libcodes  %}


{% csrf_token %}


    <div class="container-fluid" style="padding-bottom:30px">
        <form id="form2" action="/snpdb/compare-libs/search
" method="get">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Wildtype Library to Compare Against (Optional)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">

                                    <div class="form-vertical">
                                        {% for libcode in libcodes %}
                                            <div class="col-sm-2">
                                                <input type="radio" name="wt" value="{{ libcode }}"> {{libcode}} ({{ libcode_name_map|hash:libcode }})
                                            </div>
                                        {% endfor %}
                                     </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Group 1</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">

                                    <div class="form-vertical">
                                        {% for libcode in libcodes %}
                                            <div class="col-sm-2">
                                                <input type="checkbox" name="check1" value="{{ libcode }}"> {{libcode}} ({{ libcode_name_map|hash:libcode }})
                                            </div>
                                        {% endfor %}
                                     </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary" style="border-color: #616770;">
                        <div class="panel-heading" style="background-color: #616770; border-color:#616770; overflow: hidden">
                            <h3 class="panel-title" style="text-align: center">Group 2</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">

                                    <div class="form-vertical">
                                        {% for libcode in libcodes %}
                                            <div class="col-sm-2">
                                                <input type="checkbox" name="check2" value="{{ libcode }}"> {{ libcode }} ({{ libcode_name_map|hash:libcode }})
                                            </div>
                                        {% endfor %}
                                     </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-left">
                    <button type="submit" class="btn btn-sample btn-xs pull-right" style="margin-left:0px; width:50px; padding:0px">Search</button>
                </div>
            </div>
        </form>
    </div>
{% endif %}
{% endblock %}
{% endblock %}